:root {
  --font: Montserrat;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

html {
  height: 100%;
}

body {
  height: 100%;
}
.OuterContainer,
#gameContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.navContainer {
  padding: 1em;
  display: flex;
  justify-content: center;
  color: white;
}
.navContainer h1 {
  font-size: 2.5rem;
}
#gameContainer {
  text-align: center;
  margin: 1em 0;
  flex: 1;
}

label {
  font-size: 1.5rem;
  color: white;
}
input {
  border: 2px solid transparent;
  border: 3px solid white;
  border-radius: 0.3em;
  color: white;
  background-color: transparent;
  width: 65%;
  margin: 0.7em 0;
  text-align: center;
  font-size: 1rem;
  padding: 0.8em;
}
input:focus {
  outline: none;
}

.BtnCont {
  text-align: center;
}

#axisBtn {
  padding: 0.5em 0.5em;
}
.HomeButton {
  width: 70%;
}
.submitButton,
#axisBtn,
#subBtn,
#RestartBtn,
.HomeButton {
  margin: 0.5em auto;
  font-size: 1.2rem;
  display: block;
  padding: 0.4em 1em;
  background-color: transparent;
  border: 0.2em solid white;
  color: white;
  border-radius: 0.4em;
  cursor: pointer;
  transition: border 300ms ease, background-color 300ms ease, color 300ms ease;
}

.submitButton:hover,
#axisBtn:hover,
#subBtn:hover,
#RestartBtn:hover,
.HomeButton:hover {
  background-color: white;
  border: 0.2em solid white;
  color: black;
}

.parentContainer {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.SinglePlayer {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#DummyBoardContainer {
  min-height: 50%;
}

.container {
  margin: 1em 0em;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 90%;
}
.Row {
  display: flex;
  flex: 1 1 auto;
}
.box-items {
  flex: 1 1 auto;
}
#DummyBoard {
  margin: 0 auto;
}

#HomeVideo {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  z-index: -2;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ErrorText {
  display: none;
  color: red;
}

.GridContainer {
  display: flex;
  flex: 1;
}
@media (min-width: 900px) {
  .navContainer h1 {
    font-size: 3rem;
  }

  label {
    font-size: 1.8rem;
  }
  input {
    width: 40%;
  }
  #DummyBoard {
    width: 50%;
    margin: 0 auto;
  }
  .HomeButton {
    width: 25%;
  }
  .container {
    width: 50%;
    flex: 1 1 auto;
  }
}
